<header class="header" >
    <h1>PRACTICO MIDDLEWARES</h1>
    <div class="div_nav" >
        <nav class="nav" >
            <ul>
                <li><a class="nav_boton" href="/">Home</a></li>
                <li><a class="nav_boton" href="/contact">Contacto</a></li>
                <li><a class="nav_boton" href="/about">Nosotros</a></li>
                <li><a class="nav_boton" href="/services">Servicios</a></li>            
                <li><a class="nav_boton" href="/login">Registrar</a></li>
                
            </ul>
        </nav>
    </div>
</header>